@use "./utils/variables" as *;

html {
  font-family: Roboto, sans-serif;
}

body {
  @extend %MandP-Reset;
  font-family: "Roboto" Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

@import "./blocks/header";
@import "./blocks/catalog";
@import "./blocks/stars";
